datacenter = "dc1"
data_dir = "/opt/consul"
node_name = "{{ inventory_hostname }}"
bind_addr = "{{ ansible_host }}"
client_addr = "0.0.0.0"

{% if inventory_hostname in groups['servers'] %}
server = true
bootstrap_expect = 3
{% else %}
server = false
{% endif %}

retry_join = ["10.0.0.10", "10.0.0.11", "10.0.0.12"]

ui_config {
  enabled = true
}
