data_dir  = "/opt/nomad"
bind_addr = "0.0.0.0"

{% if inventory_hostname in groups['servers'] %}
server {
  enabled          = true
  bootstrap_expect = 3
}
client {
  enabled = false
}
{% else %}
client {
  enabled = true
  servers = ["10.0.0.10:4647", "10.0.0.11:4647", "10.0.0.12:4647"]
}
{% endif %}

advertise {
  http = "{{ ansible_host }}:4646"
  rpc  = "{{ ansible_host }}:4647"
  serf = "{{ ansible_host }}:4648"
}

